@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Serif:opsz,wght@8..144,400;8..144,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

/* Global fonts */
/* Roboto Serif for body text */
body {
  font-family: 'Roboto Serif', serif;
  font-optical-sizing: auto;
  font-size: 14px; /* 14px base font size */
  font-weight: 300; /* Regular weight */
  font-style: normal;
  color: #041c2c;
  background-color: #f3fdb8; /* site background color */

}

/* Anton for main headings */
h1, h2, h3 {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #041c2c;
  text-transform: uppercase;
}

h4 {
  font-family: 'Roboto Serif', serif;
  font-optical-sizing: auto;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  color: #712f39;
}


/* Button styling */
.btn-scroll {
  background-color: #041c2c;
  color: #f3fdb8;
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  text-transform: uppercase;
  padding: 0.75rem 1.5rem; /* py-3 px-6 */
  border: 2px solid #041c2c; /* dark border always visible */
  border-radius: 0.5rem; /* rounded */
  transition: background-color 0.2s;
}

.btn-scroll:hover {
  cursor: pointer;
  background-color: #f3fdb8 !important; /* lighter/yellow color */
  color: #041c2c; /* dark text for contrast */
  border-color: #041c2c !important; /* add border on hover */
  transition: background-color 0.2s;
}

.btn-scroll:hover {
  background-color: #041c2c;
}

/* Form styling */
label {
  display: block;
  font-size: 0.75rem; /* small text, like Tailwind's text-sm */
  font-family: 'Roboto Serif', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #712f39;
  font-weight: 500; /* medium */
  margin-bottom: 0.25rem; /* mb-1 */
}